<!DOCTYPE html>
<html>
<%- include('../partials/head.ejs') %>
<body>
<%- include('../partials/header.ejs') %>
<div class="container">
    <h1><%= data.title %></h1>
    <div class="container list-group-item rounded my-2">
        <span class="float-start"><i class="bi bi-person-circle px-2"></i>Utilizador</span><br><br>
        <div class="row">
            <p class="col text-start px-5"><%= data.description %></p>
            <% if(data.state) { %>
                <button class="col-md-auto fw-lighter" onclick="reply()" id="reply">Responder</button>
            <% } %>
        </div>
    </div>
    <form action="/ticket" method="POST" style="visibility: hidden" id="send">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="answer" placeholder="Inserir resposta...">
            <button class="btn btn-outline-secondary" type="submit" onclick="sendReply()"><i class="bi bi-send"></i>
            </button>
        </div>
    </form>
</div>
<%- include('../partials/footer.ejs') %>
<script>
    function reply() {
        document.getElementById("reply").style.visibility = "hidden";
        document.getElementById("send").style.visibility = "visible";
    }

    function sendReply() {
        document.getElementById("send").style.visibility = "hidden";
    }
</script>
</body>
</html>